@import "flex";

.cta {
    @include flex-center($direction: row);
    background-color: $bg-white;
    width: auto;
    max-width: 85%;
    height: 4rem;
    position: absolute;
    top: -2.5rem;
    padding: 0 15px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0px 2px 12.9px 1px rgba(0, 0, 0, 0.25);

    @media (min-width: $brakepoint-md) {
        top: 65%;
        left: -192px;
        height: 5rem;
        max-width: inherit;
    }

    &__title {
        font-family: $font-family-default;
        font-size: 0.55rem;
        font-weight: 500;
        color: $font-black;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
        p {
            font-size: 0.6rem;
            font-weight: 400;
        }
        @media (min-width: $brakepoint-md) {
            font-size: 0.8rem;
            p {
                font-size: 0.9rem;
            }
        }
    }

    &__button--access {
        @include button(
            $color: $font-white,
            $bg-color: $color-blue1,
            $font-size: 0.8rem
        );
        font-family: $font-family-default;

        @media (min-width: $brakepoint-md) {
            font-size: 1rem;
        }
    }
}
